{{ ansible_managed | comment }}

fastcgi_split_path_info ^(.+?\.php)(/.*)$;

if (!-f $document_root$fastcgi_script_name) { return 404; }

fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
fastcgi_pass unix:/var/run/fpm-{{ server.name }}.sock;
fastcgi_index index.php;
include fastcgi_params;
