{{ ansible_managed | comment }}

{% set isHttps = server.https.enabled %}
{% set useLetsEncrypt = isHttps and server.https.letsencrypt_enabled %}
{% set scheme = 'https' if isHttps else 'http' %}
{% set aliases = server.aliases if server.aliases is defined else '' %}
{% set letsEncryptLocation %}
  location /.well-known {
    root /var/www;
    allow all;
  }
{% endset %}
{% set ssl_directives %}
  add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload";
  add_header X-Frame-Options "SAMEORIGIN";

  ssl_certificate_key       /usr/local/etc/nginx/ssl/{{ server.name }}/key.pem;
  ssl_certificate           /usr/local/etc/nginx/ssl/{{ server.name }}/fullchain.pem;
  ssl_dhparam               /usr/local/etc/nginx/ssl/{{ server.name }}/dhparam.pem;

  ssl_protocols             TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers               'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';
  ssl_prefer_server_ciphers on;
  ssl_session_cache         shared:SSL:10m;

  ssl_stapling              on;
  ssl_stapling_verify       on;
{% endset %}
map $http_x_forwarded_proto $is_ssl{
  default "";
  "https" "on";
}

{% if server.force_www %}
server {
  listen {{ jail_net_ip }}:80;
  server_name {{ server.name }};

{% if useLetsEncrypt %}
{{ letsEncryptLocation }}
{% endif %}

  location / {
    return 301 {{ scheme }}://www.{{server.name}}$request_uri;
  }
}

{% if scheme == 'https' %}
server {
  listen {{ jail_net_ip }}:443 ssl;
  server_name {{ server.name }};
{{ ssl_directives }}
{% if useLetsEncrypt %}
{{ letsEncryptLocation }}
{% endif %}
  location / {
    return 301 https://www.{{server.name}}$request_uri;
  }
}
{% endif %}
{% endif %}

{% if scheme == 'https' %}
server {
  listen {{ jail_net_ip }}:80;
{% if server.force_www %}
  server_name {{ aliases }};
{% else %}
  server_name {{ server.name }} {{ aliases }};
{% endif %}
{% if useLetsEncrypt %}
{{ letsEncryptLocation }}
{% endif %}
  location / {
    return 301 https://$host$request_uri;
  }
}
{% endif %}

server {
{% if server.force_www %}
  server_name {{ aliases }};
{% else %}
  server_name {{ server.name }} {{ aliases }};
{% endif %}
  server_tokens off;
{% if scheme != 'https' %}
  listen {{ jail_net_ip }}:80;
{% else %}
  listen {{ jail_net_ip }}:443 ssl;
{{ ssl_directives }}
{% endif %}

{% if useLetsEncrypt %}
{{ letsEncryptLocation }}
{% endif %}
{% if server.basic_auth_enabled %}
  auth_basic            "Server {{ server.name }} requires authentication";
  auth_basic_user_file  {{ server.name }}-user.htpasswd;
{% endif %}

{% if server.proxy is defined %}
  {% set proxyServerPort = server.proxy.port | default(443) %}
  {% set proxyServerScheme = server.proxy.scheme | default('https') %}
  
  proxy_set_header Host               $host;
  proxy_set_header X-Real-IP          $remote_addr;
  proxy_set_header X-Forwarded-Proto  $scheme;
  proxy_set_header X-Forwarded-For    $remote_addr;

  proxy_connect_timeout 2s;

  location / {
    proxy_pass {{proxyServerScheme}}://{{ server.proxy.host }}:{{ proxyServerPort }};
  }

{% else %}
  include /usr/local/etc/nginx/includes/{{ server.name }}-*.conf;

  root         {{ server.webroot }};

  error_page   500 502 503 504  /50x.html;

  index  index.php index.html index.htm;

  location = /50x.html {
      root   /usr/local/www/nginx-dist;
  }
{% endif %}
}
