{{ ansible_managed | comment }}

set $skip_cache 0;

client_max_body_size  50M;

add_header X-Proxy-Cache $upstream_cache_status;
fastcgi_cache_key "$request_method$scheme$host$request_uri$is_args$args";
fastcgi_cache z_nginx;
fastcgi_cache_lock on;

fastcgi_no_cache $upstream_http_x_nginx_no_cache $http_cache_control $skip_cache;
fastcgi_cache_bypass $http_cache_control $http_pragma;
fastcgi_hide_header X-Nginx-No-Cache;
fastcgi_ignore_headers X-Accel-Expires Expires Cache-Control Set-Cookie;

fastcgi_cache_revalidate on;
fastcgi_cache_valid 200 302 5m;
fastcgi_cache_valid any 1m;

location ~ [^/]\.php(/|$) {
  include /usr/local/etc/nginx/includes/{{ server.name }}.fastcgi.conf;
}

