{{ "Managed by Ansible." | comment(decoration="; ") }}

[{{ server.name }}]
prefix = {{ server_home }}
listen = /var/run/fpm-{{ server.name }}.sock
listen.owner = www
listen.group = www
user = {{ server.sftp.user | default('www') }}
group = www

pm = dynamic
pm.max_children = 5
pm.start_servers = 1
pm.min_spare_servers = 1
pm.max_spare_servers = 2
pm.max_requests = 1000

access.log = log/access.log
access.format = "%t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %{user}C%% %{system}C%%"
php_admin_value[upload_tmp_dir] = {{ server_webroot }}/tmp
php_admin_value[sys_temp_dir] = {{ server_webroot }}/tmp
php_admin_value[open_basedir] = {{ server_webroot }}:/dev/urandom
php_admin_value[date.timezone] = {{ host_timezone }}
php_admin_value[session.save_path] = {{ server_webroot }}/tmp
php_admin_value[session.hash_function] = sha512

php_admin_value[memory_limit] = 128M
php_admin_value[max_execution_time] = 60
php_admin_value[upload_max_filesize] = 50M
php_admin_value[post_max_size] = 50M

php_admin_value[expose_php] = Off
php_admin_value[allow_url_fopen] = On
php_admin_value[allow_url_include] = Off

php_admin_value[opcache.enable]=1
php_admin_value[opcache.revalidate_freq]=60
php_admin_value[opcache.log_verbosity_level]=2
php_admin_value[opcache.fast_shutdown]=1
php_admin_value[opcache.memory_consumption]=128
php_admin_value[opcache.interned_strings_buffer]=8
php_admin_value[opcache.max_accelerated_files]=4000

php_admin_value[disable_functions] = disk_free_space, diskfreespace, dl, escapeshellcmd, exec, passthru, php_uname, phpinfo, popen, proc_nice, proc_open, shell_exec, show_source, symlink, system

;;;;;;;;;;;;;;;;;;;
; Debugging Stuff ;
;;;;;;;;;;;;;;;;;;;
catch_workers_output = no
php_admin_flag[display_errors] = off
php_admin_flag[log_errors] = off
