{{ ansible_managed | comment }}

# redirect sftp request
rdr pass log on {{ host_net_ext_if }} proto tcp \
  from any \
  to {{ host_net_ext_ip }} port {{ server.sftp.port }} \
  -> {{ jail_net_ip }} port 22
