{{ "Managed by Ansible." | comment(decoration="; ") }}

;;;;;;;;;;;;;;;;;;;;;
; FPM Configuration ;
;;;;;;;;;;;;;;;;;;;;;

include=etc/fpm.d/*.conf

[global]
pid = run/php-fpm.pid
log_level = warning
error_log = syslog

